.vagrant/
.DS_Store
dist/
*.log
node_modules/
cases/
solvers/
OpenFOAM/
openfoam6/
.vscode/
ubuntu*
yarn-error.log
motorBike/
windAroundBuildings/
windDrivenRainFoam/
urbanFoam/
buildings.obj
buildings.obj.gz
*.sif
.next/
cypress/downloads/
cypress/screenshots/
cypress/videos/