:root {
  --rct-color-focustree-item-focused-border: #1b6b48 !important;
}

.rct-tree-root-focus {
  outline-style: none !important;
}

.highlightMonaco {
  color: #000000 !important;
  background-color: #ffeb69c2;
}
